<h1>Banners</h1>

<p><%= link_to "Add New Banner", new_banner_path, id: 'new_banner_from_index', class: "btn btn-danger" %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Start Date
      </th>
      <th>
        End Date
      </th>
      <th>
        User
      </th>
      <th>
        location
      </th>
      <th>
        Headline
      </th>
      <th>
        Image
      </th>
      <th>
        Status
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="banners">
    <%= render @banners %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @banners, remote: true %>
</div>
